/*
Theme Name: Einwolf
Theme URI: http://stuckistucki.com
Author: ps@stuckistucki.com
Author URI: http://stuckistucki.com
Description: Einwolf
Version: 1
License: Proprietary
*/

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

img {
    border: 0;
}

li {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-weight: 300;
}

.post {
    padding-bottom: 75px;
    width: 1200px;
    margin: 0 auto;
}

header.main {
    width: 1200px;
    margin: 0 auto;
}
